.card {
  list-style: none;
  border-radius: 40px;
  background-color: #1C1C21;
}

.card a {
  text-decoration: none;
  color: inherit
}
.lineWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  display: flex;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  color: white;
}

figure.overflow {
  margin-right: -16px;
}