.wrapper {
  flex-basis: 50%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0
}
.price {
  display: flex;
}
.name {
  height: 3em;
}
