.page {
  height: 100%;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
  height: 100%;
  padding-bottom: 8px;
}

.feedWrapper {
  height: calc(100% - 60px)
}